<div class=" content fade-page">
  <div class=" row">
    <div class=" col-md-12 text-center mt-5 text-white">
      Section is under development!
      <!-- <div class=" card">
        <div class=" card-header">
          <h2 class=" card-title text-center"><b>Sensor Inputs</b></h2>
        </div>

        <div class="card-body row">
          <div class=" col-lg-6">
            <div class=" card card-chart">
              <div class=" card-header">
                <h3 class=" card-title text-center">
                  On Lights
                </h3>
              </div>
              <div class=" card-body">
                <div class=" chart-area" style="min-height: 50vh">
                  <canvas id="chartLightPower2"> </canvas>
                </div>
              </div>
            </div>
          </div>

          <div class=" col-lg-6">
            <div class=" card card-chart">
              <div class=" card-header">
                <h3 class=" card-title text-center">
                  On Temperature
                </h3>
              </div>
              <div class=" card-body">
                <div class=" chart-area" style="min-height: 50vh">
                  <canvas id="chartTempPower2"> </canvas>
                </div>
              </div>
            </div>
          </div>
        </div>

      </div> -->
    </div>
  </div>
</div>
